# Place where to hold downloaded dependencies
dependencies

# Compiled classes/jars
build
dist
target

# Netbeans stuff
nbproject/private

# Eclipse stuff
.classpath
.externalToolBuilders/
.project
.settings/

# IntelliJ stuff
.idea/workspace.xml
.idea/tasks.xml
